<form class="container" {{action 'login' username password on='submit'}}>
  <div class="">
    <fieldset>
      <legend>Login</legend>

      {{md-input controlType="text" label="Username" placeholder="Username" value=username}}

      {{md-input controlType="password" label="Password" placeholder="Password" value=password}}

      <input class="btn btn-primary" type="submit" value="Login">
    </fieldset>
  </div>
</form>

{{#if session.currentUser}}
  <h3>Logged In User</h3>

  <p><strong>Email: </strong>{{session.currentUser.email}}</p>
  <p><strong>Username: </strong>{{session.currentUser.username}}</p>
{{/if}}